body {
    background-color: antiquewhite;
}

button {
    background-color: rgb(108, 203, 89);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

#library {
    display: flex;
}

#library>div {
    flex-direction: row;
    flex-wrap: wrap;
    background-color: aliceblue;
    border-radius: 0.5rem;
}